@import "variables.less";

header {
	vertical-align: middle;
	display:inline-block;
	h1 {
		vertical-align: top;
		display: inline-block;
	}
	img {
		margin-right:20px;
		border-radius: 100%;
		display: inline-block;
		border: 2px solid @grey;
	}
}

#pitch {
	padding: 40px;
	background: rgba(0,0,0,.1);
	border-radius: 10px;
	.bn {
		margin: 20px;
	}
}

.nav{
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
	margin-bottom: 20px;
}

.postli {
	font-size: 3em;
	font-weight: bold;
	color: @very-dark-blue;
}

#post {
	max-width: 800px;
	line-height: 2em;
	font-size: 1.15em;
	padding-top: 20px;
}