#pitch
 h1 Vision. Motivation. Action
 h3 Joseph Moore's exceptional book will take you to success via simple yet useful steps.
 h3 Join him on his tour through America and learn valuable lessons for life!
 a.bn(class='blue big', href='/buy-book') Buy Now
 a.bn(class='blue big', href='/tour-schedule') Check Tour Dates
.widge.uno
 h2 Vision.
 p.
  Despite his middle-class background, Joseph Moore managed to see the big picture, and realize his potential for the future,
  envisioning his objectives and creating goals for himself. This vision resulted in clear executables when the time came to implement,
  and resulted in his success.
.widge.dos
 h2 Motivation.
 p.
  Hard times were a common occurrence in Moore's childhood; dealing with them was a strain perhaps
  too difficult for a young man like him to handle. However, despite the situation and circumstances,
   he managed to keep a positive attitude and motivate himself to work hard and succeed.
.widge.tres
 h2 Action
 p.
  Vision provides scope and realization of potential, motivation keeps one positive enough
  to keep striving for success, but what really affects prosperity is the implementation. Instead
  of simply dreaming of success, he worked the hours and effectively shaped
  his own destiny with his implementation of all that he desired.