#pitch
 h1 Vision. Motivation. Action
 h3 Joseph Moore's exceptional book will take you to success via simple yet useful steps.
 h3 Join him on his tour through America and learn valuable lessons for life!
 a.bn(class='blue big', href='/buy-book') Buy Now
 a.bn(class='blue big', href='/tour-schedule') Check Tour Dates
.widge.uno
 h2 Vision.
 p.
  Despite my dreary upbringing, I, Joseph Moore, managed to see the big picture, and realize my potential for a financially successful future,
  envisioning my objectives and establishing goals for myself. My vision resulted in clear, executable processes. When the time came to implement my new-found hope, my detailed intructions and plans guided me upon the path to success.
.widge.dos
 h2 Motivation.
 p.
  Hard times were commonplace in my childhood; dealing with such hardships were strenuous, as there was little food on my table. However, despite the circumstances,
   I managed to remain optimistic and push myself to greater heights in order to achieve my goal of a successful future.
.widge.tres
 h2 Action
 p.
  Vision provides scope and realization of potential; motivation keeps one positive enough
  to keep striving for success.However, the facet that most affects prosperity is the implementation of strategic planning. Instead
  of simply dreaming of success, I worked laborious hours with a purpose, therefore shaping my own destiny through my long hours at work and strategic planning.