#pitch
 h1 Vision. Motivation. Action
 h3 Joseph Moore's exceptional book will take you to success via simple yet useful steps.
 h3 Join him on his tour through America and learn valuable lessons for life!
 a.bn(class='blue big', href='/buy-book') Buy Now
 a.bn(class='blue big', href='/tour-schedule') Check Tour Dates