#pitch
 h1 Orders
 #orders.lbl.blue(ng-repeat = "data in shopData")
  span.order <b>Quantity</b>: {{ data.quantity }}
  span.order <b>Price</b>: {{ data.price }}
  span.order <b>Name</b>: {{ data.name }}
  span.order <b>Address</b>: {{ data.address }}
  span.order <b>City</b>: {{ data.city }}
  span.order <b>State</b>: {{ data.state }}
 h1 Ticket Orders
